.seekBar {
  width: 50vw;
  display: flex;
  height: 20px;
  align-items: center;
}

.active {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  height: 4px;
  border-radius: 2px;
  background-color: #ec3258;
}

.arrow {
  position: absolute;
  z-index: 2;
  height: 20px;
  cursor: pointer;
  width: 20px;
  transform: translateX(-10px);
  margin-left: 25%;
}

.background {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 4px;
  flex: 1;
  background-color: #ec325736;
}