.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left; */
  /* background-image: url('/images/bg.png'); */
}

.background_img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.cover_view {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.cover_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 1;
}

.cover_image.rotate {
  animation-name: rotate;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cover_image.rotate.pause {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.progress_bar_view {
  display: flex;
  margin-bottom: 5%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.button_view {
  width: 36px;
  height: 20px;
  left: 25%;
  display: flex;
  justify-content: center;
}

.button {
  box-sizing: border-box;
  height: 20px;
  border-style: solid;
  border-color: transparent #000000 transparent #000000;
  transition: 100ms all ease;
  cursor: pointer;
}

.button.play {
  width: 0px;
  border-width: 10px 0px 10px 16px;
}

.button.pause {
  width: 16px;
  border-width: 0px 3px 0px 3px;
}

.button:hover {
  border-color: transparent #404040 transparent #404040;
}

.song_current_time_view {
  width: 15%;
  text-align: center;
  margin-bottom: 3px;
}

.song_position_view {
  width: 15%;
  text-align: center;
  margin-bottom: 3px;
}